* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Public Sans;
  font-style: normal;
  font-weight: 500;
  overflow-x: hidden;
  background-image: url(/img/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  height: 11vh;
  background-color: #309CFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 2px 4px 7px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 2px 4px 7px rgba(255, 255, 255, 0.3);
}

.logo-img {
  width: 60%;
  float: left;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.logo-img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  width: 180px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: right;
  width: 40%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  padding: 0 10px;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -8px;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav-links a:hover:after {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .line {
    width: 34px;
    height: 4px;
    background-color: white;
    margin: 6px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 3;
  }
  .nav-links {
    position: fixed;
    background-color: #56AEFF;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 2;
  }
  .nav-links.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -10%);
    pointer-events: all;
  }
}

main {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.welcome-buttons {
  text-align: center;
  font-family: 'Sail', cursive;
  margin-left: 0px;
  width: 100%;
  height: 60vh;
  margin-top: 200px;
  color: white;
}

.welcome-buttons h1 {
  font-size: 36px;
}

.welcome-buttons a {
  font-family: 'Sanchez', serif;
  text-decoration: none;
  color: black;
  border: #309CFF 2px solid;
  padding: 17px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  top: 50px;
  height: 30px;
  font-size: 22px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: white;
}

.welcome-buttons a:hover {
  background-color: #309CFF;
  color: white;
}

.main-img {
  width: 60%;
  z-index: 1;
}

.main-img img {
  width: 700px;
  height: 609px;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  opacity: 0.93;
  -webkit-filter: blur(0.1px);
          filter: blur(0.1px);
  border-radius: 20px;
  z-index: 0;
}

footer {
  height: 20vh;
  width: 100%;
}

.triangle {
  background-color: #309CFF;
  -webkit-clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
          clip-path: polygon(100% 77%, 0% 100%, 100% 100%);
  width: 100%;
  height: 700px;
  margin-top: -470px;
}
/*# sourceMappingURL=main.css.map */